.titleContainer{
    margin-top: 200px;
    margin-bottom: 100px;
}

.mainTitle{
    font-size: 5em;
    -webkit-text-stroke: 3px;
    color: #4A4F1F;
}

.subTitle{
    font-size: 3em; 
    stroke-width: 2;
    color: #7A8334;
}