.bg-content{
    background-image: url(../mediaAssets/wallpaper_index_bg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    filter: brightness(50%);
    z-index: 200;
}